body {
  font-family: Arial;
}

.row input,
.row select {
  display: block;
  width: 300px;
  padding: 5px;
}

.row {
  margin: 0 20px 20px 20px;
}

.row label {
  margin-bottom: 5px;
}

#container {
  height: 400px;
  width: 350px;
  margin: 100px auto;
  background: #85cde6;
}

.title {
  background: black;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}

button {
  text-transform: uppercase;
  display: block;
  background: #e71248;
  color: white;
  padding: 10px 20px;
  margin: 0 auto;
}

#totalTip {
  font-size: 20px;
  text-align: center;
}
